*{
	padding: 0;
	margin: 0;
}


body{
	background: #c2b597;
}

.main {
	background: #97a4c2;
	min-height:900px;
	width: 70%;
	margin: auto;
	padding-bottom: 20px;
}

.menu {
	background: pink;
	width: : 98%;
	margin: auto;
	height: 70px;
	border-bottom-left-radius:50%; 
	border-bottom-right-radius:50%;  
}

.logo {
	width: 50px;
	height: 50px;
	display: block;
	margin:auto;
	margin-top: 20px;
	margin-left: calc(50% - 25px);
	display:inline-block;
}
.men{
	border: 1px solid black;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}
.el li{
	display: inline;
	padding: 7px;
}
.content {
	width: 90%;
	background: #e25241;
	height: 700px;
	margin:auto;
	box-shadow: 0 0 10px 1px green;
	margin-top: 10px;
	border-radius: 15px;
}

}